.container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #888888;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
}

input[type="button"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #3e8e41;
}
.container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #888888;
}

h1 {
	text-align: center;
	margin-bottom: 30px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	padding: 5px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
}

input[type="button"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #3e8e41;
}
.demo{
	color: #4CAF50;
	background-color: #f2f2f2;
}
.pramod{
	color: aliceblue;
	background-color: #3e8e41;
}
.number{
	color:#3e8e41;
	background-color:aqua;
}	